@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #222222;
}

/* custom scrollbar */
.custom__scrollbar {
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
}
.custom__scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom__scrollbar::-webkit-scrollbar-thumb {
  background-color: #0070bc;
  border-radius: 8px;
}

.custom__scrollbar::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

@layer utilities {
  .flex-between {
    @apply flex flex-row justify-between items-center;
  }
}
